# Build/Temp dirs
project/msvc14/bin/
project/msvc14/build/
project/msvc14/lib/
project/msvc14/.vs/

# Visual Studio files
*.db
*.filters
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
